{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4 bg-secondary">
      {% if request.user.is_authenticated%}
      <h3 class="text-warning">helllow {{request.user}} !! Welcome</h3>
      {% else %}
      <p>You are not logged in</p>
      {% endif %}
      <h3>Browse Topics</h3>
      <hr>
      <div class="row mt-2 bg-info">
        <a href="{% url 'rooms' %}">ALL</a>
      </div>
      {% for topic in topics %}
        <div class="row bg-light mb-5 mt-2">
          <a href="{% url 'rooms' %}?q={{topic.name}}">{{topic.name}}</a>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-8">
      <h3><a href="{% url 'create' %}">Create a room now</a></h3>
      <h5>{{room_count}} rooms are available</h5>
      {% for room in rooms %}
      <div class="row bg-info mb-3">
        {% if request.user == room.host%}
        <span><a href="{% url 'update' room.id %}">Edit</a></span><br />
        <span><a href="{% url 'delete' room.id %}">Delete</a></span><br />
        {% endif %}
        <span>@{{room.host.username}}</span>
        <h3 color>
          {{room.id}}______
          <a href="/room/{{room.id}}">{{room.name}}</a>
        </h3>
        <hr />
        <small>{{room.topic.name}}</small>
      </div>
      {% endfor %}
    </div>
    
  </div>
</div>
{% endblock %}

