{% extends 'base.html' %} {% block content %}
<div class="container px-3 overflow-hidden">
  <div class="row ">
    <div class="col-md-7 me-1">
      <a href="{% url  'create' %}"
        ><button type="button" class="btn btn-primary btn-lg">
          New Room <span><i class="bi bi-plus-circle"></i></span></button
      ></a>
      <h5>{{room_count}} rooms are available</h5>
      {% for room in rooms %}
       {% include 'sections/feeds.html' %}
      {% endfor %}
    </div>

    <div class="col-md-4 bg-primary p-1 bg-danger p-3 rounded">
      <h5 class="text-success">This is {{request.user}}</h5>
      {% include 'sections/activities.html' %}
    </div>
  </div>
</div>
{% endblock %}
