{% extends 'base.html' %} {% block content %}
<div class="container px-3 overflow-hidden">
  <div class="row gx-4">
    <div class="col-md-7 me-1">
      <a href="{% url  'create' %}"
        ><button type="button" class="btn btn-primary btn-lg">
          New Room <span><i class="bi bi-plus-circle"></i></span></button
      ></a>
      <h5>{{room_count}} rooms are available</h5>
      {% for room in rooms %}
      <div class="row bg-info mb-3 p-3 rounded">
        {% if request.user == room.host%}
        <a href="{% url 'update' room.id %}"><i class="bi bi-pencil"></i></a>
        <a href="{% url 'delete-room' room.id %}"><i class="bi bi-trash"></i></a
        ><br />
        {% endif %}
        <span>@{{room.host.username}}</span>
        <h3 color>
          {{room.id}}______
          <a href="/room/{{room.id}}">{{room.name}}</a>
        </h3>
        <hr />
        <small>{{room.topic.name}}</small>
      </div>
      {% endfor %}
    </div>

    <div class="col-md-4 bg-primary p-1 bg-danger p-3 rounded">
      {% include 'sections/activities.html' %}
    </div>
  </div>
</div>
{% endblock %}
