{% extends 'base.html' %} {% block content %}

<div class="container bg-light p-2">
  <div class="row">
    <div class="col-md-8">
      {% include 'sections/roomdesc.html' %}
      <hr />
      <div>
        <h1>Conversations</h1>
        
        {% for message in room_messages %} 
         {% include 'sections/messcard.html' %}
        {% endfor %} {% if request.user.is_authenticated %}
        <div class="mt-2">
          {% include 'sections/messinput.html' %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-4 bg-info">
      <h2 class="text-white">PARTICIPANTS</h2>
      <hr />
      {% for user in participants %}
      <h4 class="text-danger">@{{user}}</h4>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
